@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: ubuntu;
  src: url("./assets/Fonts/ubuntu.ttf");
}

body {
  font-family: ubuntu;
}

/* reuseable classes */
section {
  @apply py-12 md:py-16 lg:py-20;
}

.main-container {
  @apply w-11/12 mx-auto max-w-7xl;
}
/* header area */
.nav-link {
  @apply uppercase lg:text-lg font-medium text-clr-accent;
}

.title {
  @apply text-[clamp(1.5rem,1rem+3vw,3.5rem)] font-semibold leading-tight;
}

/* banner area  */
.swiper-slide {
  @apply min-h-[300px];
}

.swiper-slide img {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  @apply !hidden md:!flex;
}
.autoplay-progress {
  @apply absolute right-4 bottom-4 z-10 w-12 h-12 flex items-center justify-center font-bold text-clr-primary;
}

.autoplay-progress svg {
  @apply absolute left-0 top-0 z-10 w-full h-full fill-none stroke-[4] stroke-clr-primary -rotate-90;
  --progress: 0;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
}

/* popular classes */

.card img {
  @apply max-h-[15rem] object-cover object-right-top;
}

/* popular teachers */

.treangle {
  @apply w-0 h-0 m-0 absolute !border-t-cyan-700 !border-e-cyan-700;
  border: 2.25rem solid transparent;
  top: -1.2rem;
  right: -1px;
}
